<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="/css/basic.css" type="text/css">

    <body>
        <div id="message__container">
            <ul id="messages"></ul>
        </div>
        <div id="playerList">
            <h2>Les joueurs</h2>
            <table id="playerListTable">
                <!-- Kept for templating -->
                <!-- <tr>
                    <td>Anto</td>
                    <td>Connecté</td>
                </tr> -->
            </table>
        </div>
        <div class="personnalInformation">
            <h2>Votre Rôle:</h2>
            <p id="roleName">------</p>
            <div id="hitlerRevealName" style="display:none;">
                <h3>Votre hitler (ou votre faciste, si vous êtes Hitler) est:</h3>
                <p id="hitlerName"></p>
            </div>
        </div>
        <div>
            <h2>Le Plateau</h2>

            <p>Facistes</p>
            <div>
                <img id="facistBoard" src="img/boardFacist5-6p/boardFacist5-6p-0.png" width="40%">
            </div>

            <p>Libérals</p>
            <div>
                <img id="liberalBoard" src="img/boardLiberal/boardLiberal-0.png" width="40%">
            </div>
        </div>
        <div id="connectDiv">
            <h1>Secret Hitler Online!</h1>
            <input id="username" type="text" name="username"/>
            <button type="button" id="connectButton">Se Connecter!</button>
        </div> 
        <div id="startGame" style="display:none;">
            <button type="button">Démarrer la partie!</button>
        </div>
        <div id="playDiv" style="display:none;">
            <button type="button" id="IAmPresident">Je suis Président!</button>
            <button type="button" id="IAmChancelor">Je suis Chancelier!</button>

            <div id="powerup1" style="margin:20px">
                <button type="button" id="showTopThreeCards">Afficher les 3 cartes du dessus</button>
            </div>
        </div>
        <div id="cardView" style="display:none;">
            <!-- Des boutons avec les cartes seront ajoutés-->
        </div>
        <div id="waiting" style="display:none;">
            <p>Veuillez patienter pendant que le président et le chancelier choisissent leur cartes :)</p>
        </div>
        <div id="powerups">

        </div>

        
        <div id="adminControl" style="display:none;">
            <h2>Admin Controls</h2>
            <button id="playRandomCard">Jouer la première carte random</button>
            <button id="playLiberal">[N] Mettre une carte Libérale</button>
            <button id="playFacist">[N] Mettre une carte Faciste</button>
            <button id="resetLeTour">[N] Reset le tour</button>
        </div>
    </body>
</html>

<script>
    var socket;
    var mySocketId;
    var myUsername;

    function clickPolicy(value){
        socket.emit('policyChoosenPart1', value);
    }
    function clickPolicy2(value){
        socket.emit('policyChoosenPart2', value);
    }
    
    function addCardToLiberalBoard(){
        $('#liberalBoard').append('<p>L</p>');
    }
    function addCardToFacistBoard(){
        $('#facistBoard').append('<p>F</p>');
    }

    function drawBoard(numberOfPlayers, numberOfFacistPlayed, numberOfLiberalPlayed){
        $('#liberalBoard').attr('src', 'img/boardLiberal/boardLiberal-' + numberOfLiberalPlayed + '.png');
        if(numberOfPlayers == 5 || numberOfPlayers == 6){
            $('#facistBoard').attr('src', 'img/boardFacist5-6p/boardFacist5-6p-' + numberOfFacistPlayed + '.png');
        } else if(numberOfPlayers == 7 || numberOfPlayers == 8){
            $('#facistBoard').attr('src', 'img/boardFacist7-8p/boardFacist7-8p-' + numberOfFacistPlayed + '.png');
        } else if(numberOfPlayers == 9 || numberOfPlayers == 10){
            $('#facistBoard').attr('src', 'img/boardFacist9-10p/boardFacist9-10p-' + numberOfFacistPlayed + '.png');
        }
    }

    $(document).ready(function() {
        socket = io('ws://localhost:8000');

        socket.on('connect', function(){
            mySocketId = socket.id;
        });

        $('#startGame').on('click', function(){
            socket.emit('startGame', mySocketId);
        });

        $('#IAmPresident').on('click', function(){
            socket.emit('IAmPresident', myUsername);
        });

        $('#IAmChancelor').on('click', function(){
            socket.emit('IAmChancelor', myUsername);
        });

        socket.on('playerRelatedAnnouncement', function(message){
                $('#messages').prepend($('<li style="background-color:green;">').text(message));
        });

        socket.on('playerListModification', function(playerInformations){
            $('#playerListTable').html('');

            for(var i = 0; i < playerInformations.length; i++){
                $('#playerListTable').append('<tr>' +
                    '<td>' + playerInformations[i].name + '</td>' +
                    '<td>'+ playerInformations[i].status +'</td>' +
                '</tr>');
            }
        });

        socket.on('messageGeneral', function(message){
                $('#messages').prepend($('<li>').text(message));
        });

        socket.on('customError', function(error){
            if(error.destination == mySocketId){
                $('#messages').prepend($('<li class="errorMessage">').text(error.message));
            }
        });

        socket.on('cardGiving', function(card){
            if(card.destination == mySocketId){
                $('#roleName').text(card.value);
            }
            $('#startGame').hide();
            $('#playDiv').show();
        });

        socket.on('hitlerRevealed', function(revelation){
            $('#hitlerName').text(revelation.value);

            $('#hitlerRevealName').show();
        });

        socket.on('presidentChoosen', function(){
            $('#IAmPresident').hide();
        });
        socket.on('chancelorChoosen', function(){
            $('#IAmChancelor').hide();
        });

        socket.on('democrativeSessionPart1', function(role){
            $('#playDiv').hide();

            if(role.role == 0){

                $('#waiting').show();
                //President
            } else if(role.role == 1){
                $('#cardView').show();

                var policies = role.policies;
                for(var i = 0; i < policies.length; i++){
                    $('#cardView').append('<button type="button" onClick="clickPolicy(\'' + policies[i] + '\')">' + policies[i] + '</button>')
                }
                //chancelor
            } else if(role.role == 2){
                $('#waiting').show();
            }
        });

        socket.on('democrativeSessionPart2', function(role){
            $('#playDiv').hide();

            if(role.role == 0){

                $('#waiting').show();
                //President
            } else if(role.role == 1){
                $('#cardView').hide();
                $('#waiting').show();
                //chancelor
            } else if(role.role == 2){
                $('#waiting').hide();
                $('#cardView').show();

                var policies = role.policies;
                for(var i = 0; i < policies.length; i++){
                    $('#cardView').append('<button type="button" onClick="clickPolicy2(\'' + policies[i] + '\')">' + policies[i] + '</button>')
                }
            }
        });

        socket.on('democrativeSessionEnd', function(role){
            $('#waiting').hide();
            $('#cardView').hide();
            $('#cardView').html('');

            $('#IAmPresident').show();
            $('#IAmChancelor').show();
            $('#playDiv').show();

            drawBoard(role.nbOfPlayers, role.nbOfFacistCards, role.nbOfLiberalCards);
        });
    });
</script>
<script src="/js/indexClient.js" type="text/javascript"></script>
<script src="/js/playerManagementClient.js" type="text/javascript"></script>
<script src="/js/administrativeFunctionsClient.js" type="text/javascript"></script>
<script src="/js/powerupsClient.js" type="text/javascript"></script>
