#message__container{
    height:100px;
    background-color:yellow;
    overflow-y: scroll;
    overflow-wrap: normal;
}

#messages { 
    list-style-type: none; 
    margin: 0; padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}

.errorMessage{
    background:red !important;
}